*{
	margin:0px;
	padding:0px;
}

#top-bar{
	width:100%;
	height:90px;
	background:#0085c8;
	position:fixed;
	float:left;
	z-index:1;
}

#top-bar1{
	width:1200px;
	height:60px;
    margin:auto;
}

#logo{
	width:60px;
	height:30px;
	float:left;
}

#navi{
	list-style:none;
	margin-left:400px;
	margin-top:30px;
}

#home{
	width:90px;
	height:60px;
	color:#f47820;
	font-family:Maiandra GD;
	font-size:30px;
	float:left;
}

#about{
	width:130px;
	height:60px;
	color:#f47820;
	font-family:Maiandra GD;
	font-size:30px;
	float:left;
	margin-left:100px;
}

#services{
	width:170px;
	height:60px;
	color:#f47820;
	font-family:Maiandra GD;
	font-size:30px;
	float:left;
	margin-left:70px;
}

#contact{
	width:150px;
	height:60px;
	color:#f47820;
	font-family:Maiandra GD;
	font-size:30px;
	float:left;
	margin-left:70px;
}

#link{
	text-decoration:none;
	color:#f47820;
}

#link:hover{
	color:white;
}

/*End of the Header*/

/*Our service background*/

#services-background{
	width:100%;
	height:1800px;
	float:left;
}

#services-background1{
	width:1200px;
	height:1800px;
	margin:auto;
}

/*Slide show start*/

/*.slide{
	width: 1000px;
	height: 400px;
}

.mySlides{
	width: 1000px;
	height: 400px
}

.buttonleft{
	width: 50px;
	height: 50px;
	top: 200px;
	position: absolute;
}

.buttonright{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 200px;
	margin-left:950px;
}*/

/*What are our Services start*/

#our-Services{
	width:800px;
	height:180px;
	margin-top:100px;
	margin-left:270px;
	float:left;
	font-size:100px;
	font-family:Gabriola;
	color:#58809b;
}

/*What are our Services end*/

/*Sofa Cleaning*/

#sofa-cleaning{
	width:1200px;
	height:260px;
	background:#385e77;
	float:left;
}

#sofa-cleaning1{
	width:1200px;
	height:260px;
	margin-left:220px;
	margin-top:60px;
	float:left;
	font-size:100px;
	font-family:Candara Light;
	color:white;
	outline-style:none;
}

#sofa-content{
	width:500px;
	height:260px;
	/*background-image:url(../images/sofa-cleaning1.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background:#385e77;*/
}

#sofa-content-image{
	width:600px;
	height:260px;
	margin-left:600px;
	background-image:url(../images/sofa-cleaning1.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

/*#sofa-cleaning1:hover{
	display:none;
}*/

/*Start of the Footer */

#footer{
	width:100%;
	height:200px;
	background:#697278;
	float:left;
}

#footer1{
	width:1200px;
	height:200px;
	margin:auto;
}

/*First Part of the footer*/

#first-bar{
	width:1200px;
	height:200px;
	float:left;
}

/*Address start*/

#contact-information{
	width:250px;
	height:150px;
	margin-top:30px;
	margin-left:60px;
	float:left;
}

#address{
	width:250px;
	height:50px;
	font-family:Footlight MT Light;
	font-size:30px;
	margin-top:20px;
	color:white;
	float:left;
}

#address1{
	width:250px;
	height:100px;
	font-family:Maiandra GD;
	font-size:15px;
	float:left;
}

/*Services Start*/

#services1{
	width:420px;
	height:180px;
	float:left;
	margin-top:20px;
	margin-left:70px;
}

#services11{
	width:350px;
	height:50px;
	font-family:Footlight MT Light;
	font-size:30px;
	margin-top:30px;
	color:white;
	float:left;
}

#services2{
	width:400px;
	height:60px;
	font-family:Maiandra GD;
	font-size:15px;
	float:left;
}

#service1, #service2, #service3, #service4, #service5, #service6{
	width:200px;
	height:20px;
	float:left;
}

#link1{
	text-decoration:none;
	color:black;
}

#link1:hover{
	color:#a6b1b9;
}

/*Contact Number Information Start*/

#contact-information1{
	width:250px;
	height:150px;
	margin-top:30px;
	margin-left:100px;
	float:left;
}

#contact-number{
	width:250px;
	height:50px;
	font-family:Footlight MT Light;
	font-size:30px;
	margin-top:20px;
	color:white;
	float:left;
}

#contact-number1{
	width:250px;
	height:80px;
	font-family:Maiandra GD;
	font-size:15px;
	float:left;
}

/*All Right Reserved Start*/

#second-row{
	width:100%;
	height:40px;
	background:#697278;
	float:left;
}

#second-row1{
	width:1200px;
	height:30px;
	margin:auto;
	text-align:center;
	margin-top:10px;
}